{% extends 'base.html.twig' %}

{% block title %} {{ program.title }} {% endblock %}


{% block body %}

    <div class="media">
        <div class="media-body">
            <h1> {{ program.title}} </h1>
            <h2> Saison {{ episode.season.number }} - Episode N°{{ episode.number }} </h2>
            <p> Résumé : {{ episode.synopsis }}</p>
            <h3>Commentaires</h3>

            {% for comment in comments %}
            <div>
                <p> ********* <br> {{ comment.comment }}</p>
                <p> Note : {{ comment.rate }} - Auteur : {{ comment.author.email }} </p>
                {% if app.user.id is defined and app.user.id == comment.author.id %}
                    {{ include('wild/comment_delete_form.html.twig') }}
                {% endif %}
             {% endfor %}
             </div>
        </div>
        <div class="container">
            {% if app.user %}
                <h3>Add a comment:</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
            {% endif %}
        </div>

    </div>
{% endblock %}