
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand mt-3"  href="#">Wild-series</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ path('wild_index') }}">Liste des séries</a>
                <a class="nav-item nav-link" href="#">Mes favoris</a>
                {% if app.user %}
                    <a class="nav-item nav-link active" href="{{ path('app_profile') }}"> {{ app.user.email }}</a>
                    <a class="nav-item nav-link active" href="{{ path('app_logout') }}"> Se déconnecter</a>
                {% else %}
                    <a class="nav-item nav-link active" href="{{ path('app_login') }}"> Se connecter</a>
                    <a class="nav-item nav-link active" href="{{ path('app_register') }}"> S'inscrire</a>
                {% endif %}

            </div>
        </div>
    </nav>
</header>
